*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda One', cursive;
    scroll-behavior: smooth;
}
:root{
    --primario: #f0f;
    --secundario: #000080;
    --terciario: #6f05a3;
    --cuarto: #f28596;
    --quinto: #6e6eff;
    --sexto: #f5daee;
}

body{
    box-shadow: inset 0 0 50px var(--secundario);
    background-image: url(imagenes/fondo2.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}
header{
    top: 0;
    background: linear-gradient(90deg, var(--primario) 30%, var(--secundario) );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    position: fixed;
    width: 100%;  
}

header div h3{
    text-align: center;
    font-size: 40px;
    font-family: 'Qwigley', cursive;
    color: var(--terciario);
}


/*barra de navegacion*/
.nav-container ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-container ul li a{
    text-decoration: none;
    font-weight:bold;
    color: white;
    font-size: 20px;  
}
.nav-container ul li a:hover{
    color: var(--primario);
}
 .nav-container ul li{
    padding: 10px;
 }

.nav-container ul li:active{
    outline: 2px solid var(--primario); 
    border-radius: 25px;
}
.nav-container ul li:last-child{
    border: 1px solid white;
    border-radius: 25px;
}

/*primera seccion*/
.hello-container{
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh; 
}

.datos-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.datos-container h1{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .datos-container h1 span{
    font-size: 50px;
    color: var(--primario);
    text-shadow: 0  2px 0 var(--secundario),
               0  4px 0 var(--secundario),
               0  6px 0 var(--secundario),
               0  8px 0 var(--secundario),
               0 10px 0 var(--secundario),
               0 12px 0 var(--secundario);
 }

.datos-container p{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.datos-container a{
    border: 0.5px solid var(--secundario); 
    border-radius: 25px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background: linear-gradient(90deg, var(--primario) 30%, var(--secundario) ); 
    width: 180px;
    height: 50px;
    text-align: center;
    
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
.imagen{
    width: 310px;
    height: 400px;
}
.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 20px;  
    box-shadow: 0 0 15px var(--secundario);
}

/*segunda Seccion*/
.conocimientos-container{
   padding: 70px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;   
}

.p-title h2{
   text-align: center;
   padding: 25px;
   font-size: 40px;
}

.p-title p{
   text-align: center;
   font-size: 20px;
}

.etiquetas-conocimientos{
    /*grid*/
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   gap: 25px;
   margin: 30px 0;
}

.etiquetas{
    background-color: var(--sexto);
    border: 2px solid var(--sexto);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 220px;
    height:220px;
}
.etiquetas:hover{
    border: 2px solid transparent;
    background: linear-gradient(130deg, var(--primario), var(--cuarto) 40%);
    cursor: pointer;
    transform: scale(1.15);
    z-index: -1;
}

.etiquetas div{
    width: 80px;
    height: 80px;
}

/*cita*/

blockquote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(180deg, var(--primario), var(--cuarto));
    min-height: 100vh;    
}
blockquote i{
    font-size: 100px;
}
blockquote p{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

blockquote cite{
    font-size: 35px;
}

/*tercera seccion*/
.project-container{

    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cuadro-project{
    background-color: var(--sexto);
    border: 2px solid var(--sexto);
    width: 150px;
    height: 150px;
}
.cuadro-project div{
    height: 100%;
}

.project-column{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 80px 100px;  
}
.cuadro-project{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}
.cuadro-project h4{
    margin-top: 15px;
    text-align: center;

}

.cuadro-project img{
    width: 100%;
    height: 100%;
}
.cuadro-project:hover{
    border: 2px solid transparent;
    background: linear-gradient(130deg, var(--primario), var(--cuarto) 40%);
    cursor: pointer;
    transform: scale(1.1);
    z-index: -1;
}
/* cuarta seccion*/
.contact-container{
    min-height: 100vh;
    padding: 80px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.borde{
    box-shadow: inset 0 0 30px var(--secundario);
    width: 900px;
    height: 600px;
    padding: 25px;
    display: flex;
    gap: 35px;
    border: 1px solid var(--quinto); 
    border-radius: 15px;  
}

.central-contact{
    height: 100%;
    width: 100%;
}
.a-contacto ul li{
    margin: 30px 20px;
    list-style-type: none;
}
.a-contacto ul li i{
   font-size: 30px; 
   color: var(--secundario);
   margin-right: 15px;
}
.a-contacto ul li i:hover{ 
    color: var(--primario);
    cursor: pointer;
 }
.a-contacto ul li a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
.a-contacto ul li a i:hover{
    transform:skew(190deg)
}

    
/*formulario*/
.central-escribeme{
    height: 100%;
    width:  100%;
    padding: 0 20px;
}

form{
    margin: 0 10px;
}

.form-date-container{
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.name{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.name input{
    border: 0.5px solid var(--secundario);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
}

.surname{
    display: flex;
    flex-direction: column;
    margin-top: 20px;  
}
.surname input{
    border: 0.5px solid var(--secundario);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
}
.email{
    display: flex;
    flex-direction: column;
}

.email input{
    border: 0.5px solid var(--secundario);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
}

.from-txt{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
  

.from-txt textarea{
    border: 0.5px solid var(--secundario);
    width: 100%;
    height: 100%;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
}
.from-txt button{
    background-color: var(--secundario);
    border: 0.5px solid var(--secundario);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.from-txt button:hover{
    background-color: var(--terciario);
    border: 0.5px solid var(--primario);
    color: white;
    cursor: pointer;  
    transition: all 1.5s linear; 
}
/* PseudoClases que me permiten que combie el estilo de acuerdo a lo que introduzca el usuario */
form textarea:focus:focus, input:focus{
    outline: 1px solid transparent;
    border: none;
    box-shadow: 0 0 8px var(--secundario);
}
form textarea:valid:focus, input:valid:focus{
    outline: 1px solid rgb(119, 234, 119);
    border: none;
    background-color:  rgb(205, 242, 205);
}
form textarea:invalid:focus, input:invalid:focus{
    outline: 1px solid rgb(246, 92, 92);
    border: none;
    background-color: rgb(223, 193, 193);
   
} /* fin PseudoClases  */

.cont-input-form{
    display: flex;
    position: relative;   
}
.cont-input-form i{
    position: absolute;
    right: 5px;
    top: 6px;
    display: none;
}

 .cont-input-form input:valid + i{
    color:  #3df32c;
    font-size: 18px;
    display: block;  
} 


/*inicio del footer*/

footer{
    background: linear-gradient(180deg, var(--secundario), var(--primario));
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer nav ul{
    display: flex;
    margin: 15px 20px;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
}

footer nav ul a{
    text-decoration: none;
    color: white; 
}
footer nav ul a:hover{
    color: var(--cuarto);
    cursor: pointer;
}

.icon-networks ul{
    display: flex;
    margin: 15px 20px;
    list-style-type: none;
    gap: 20px;
}

.icon-networks ul li a i{
    font-size: 20px;
    color: var(--cuarto);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--cuarto);
}
.icon-networks ul li a i:hover{
    color: var(--primario);
    border: 1px solid var(--primario);
    background-color: var(--secundario);
    cursor: pointer;
    transition: ease-in-out 2s;
    transform: rotateZ(190deg);
}


/*responsive*/
@media (max-width: 880px){
    /*header*/
    .nav-container ul{
        gap: 10px;
    }
    
    /*primera seccion*/
    .hello-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .datos-container h1 span{
       font-size: 40px;
    }
    
    .imagen img{
        width: 350px;
    } 
    /*Segunda seccion*/
    .etiquetas-conocimientos{
       grid-template-columns: repeat(2, 1fr);
    }
    .p-title p{
        font-size: 15px;
    }
    /*tercera seccion*/
    .project-column{
        grid-template-columns: repeat(2, 1fr);
    }  
    
}
@media (max-width: 660px){
    header{
        flex-direction: column;
        padding: 5px 10px;
    }
    .borde{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 550px;
     }
    }

@media (max-width: 440px){
   
    header div h3{
        display: none;
    }
    .nav-container ul{
        gap: 5px;
    }
    .nav-container ul li a{
        font-size: 15px;
    }
    /*primera seccion*/
    .hello-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .datos-container a{ 
        padding: 8px;
        margin-top: 5px;
        font-size: 10px;
        width: 100px;
        height: 30px; 
    }
    .imagen img{
        width: 300px;
    }
    
    .datos-container h1{
        font-size: 25px;
     }
     .datos-container h1 span{
        font-size: 30px;
     }
    /*Segunda seccion*/

    .etiquetas-conocimientos{
        grid-template-columns: repeat(1, 1fr);
    }
    .p-title h2{
        padding: 15px;
        font-size: 25px;
     }
    .p-title p{
        font-size: 12px;
     }

     blockquote p{
       font-size: 15px;
     }

     blockquote cite{
        font-size: 15px;
     }

     /* tercera seccion*/
     .project-column{
        grid-template-columns: repeat(1, 1fr);
    }
     /* cuarta Seccion*/
     .contact-container{
        padding: 30px 20px;
     }
     .borde{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 400px;
     }
     .central-escribeme{
        padding: 0 5px;
    }
    .form-date-container{
        gap: 8px;
    }
    .a-contacto ul li a{
        font-size: 12px;
    }
    /*footer*/
    footer nav ul{
        font-size: 15px;
    }
}